<!DOCTYPE html>
<html lang="en">
    <head>
     <meta charset="UTF-8">
	<title>BMS - login</title>
        <link rel="stylesheet" href="/css/login.css">
        <script src="https://code.jquery.com/jquery-latest.min.js"></script>

<script> 
            function checkPassword(form) { 
                password1 = form.password1.value; 
                password2 = form.password2.value;         
                if (password1 != password2) { 
                    alert ("\nPassword did not match: Please try again...") 
                    return false; 
                } 
                else{ 
                    alert("Password Matched: User created - Welcome to the exam portal!") 
                    return true; 
                } 
            } 
</script>
    </head>
<body>
   <img src= "/header.png" alt= "logo" >
    <div class="blue"><TT>EXAM FORM SUBMISSION SYSTEM</TT></div>
 
  <form>
  <div class="imgcontainer">
    <img src="/student.svg" alt="Avatar" class="avatar">
  </div>


  <div>
    <label ><b>Enter your new password:</b>
    <input type="password" placeholder="Enter your new password" name="password1" minlength="8" required></label>
       <label ><b> Re-Enter new password:</b>
    <input type="password" placeholder="Re-Enter your new password" name="password2" required></label>


    
       {{!-- <button onclick="myFunction()">Submit</button> --}}
       <button type="submit" >Submit</button> 
         
		{{!-- <script>
           function myFunction() 
		   {
           alert("New password has been sent to your email.");
           }
          </script> --}}

 {{!-- <a href='/admin_login'>Are you an admin?</a></span> --}}

      </div>
</form>

<footer id="footer">
    <p class="about">B.M.S. College of Engineering (BMSCE) was Founded in the year 1946 by Late Sri. B. M. Sreenivasaiah a great visionary and philanthropist and nurtured by his illustrious son Late Sri. B. S. Narayan. BMSCE is the first private sector initiative in engineering education in India. BMSCE has completed 70+ years of dedicated service in the field of Engineering Education. <a href="https://bmsce.ac.in/home/About-BMSCE">Know More</a></p>
    <h3>Contact Us</h3>
    <ul class="contact-us">
        <li><strong>Address:</strong>
        <br /> P.O. Box No.: 1908, Bull Temple Road,
        <br /> Bangalore - 560 019
        <br />Karnataka, India.
        </li>
        <li><strong>Fax:</strong>
            <br />+91-80-26614357
        </li>
        <li><strong>Email:</strong>
        <br /><a href="mailto:mail@example.com">info@bmsce.ac.in</a>
        </li>
    </ul>
    <div id="icons">
    <a href="https://www.instagram.com/"><i class="fab fa-instagram"> </i></a>
    <a href="https://www.facebook.com/bmsce.official"><i class="fab fa-facebook"></i></a>
    <a href="https://twitter.com/?lang=en"><i class="fab fa-twitter"></i></a>
    <a href="https://www.linkedin.com/authwall?trk=gf&trkInfo=AQENGHT1TgwK7QAAAXZq5KygBlHnGUtHSItHhXmvxk5TeadeZBSQHIHtyhl5QHsmVbUgh13F-Qd4FNtCMIyF5lmkZBN0WZQSjZ95rBzmFWoYbRpyvx9cbyeqQzfCO5Qm9Z8Fqk8=&originalReferer=https://bmsce.ac.in/&sessionRedirect=https%3A%2F%2Fwww.linkedin.com%2Fcompany%2Fbmsce-official%2F"><i class="fab fa-linkedin"></i></a>
    </div>
    <div class="Copyright"><p>© Copyright 2019. All Rights Reserved.</p></div>

</footer>  
</body>
</html>