<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Exam form</title>
	<link rel="stylesheet" href="/css/admin.css">
	<script>
		function myFunction() {
			var input = document.getElementById("myInput");
			var filter = input.value.toUpperCase();
			var table = document.getElementById("Table");
			var trs = table.getElementsByTagName("tr");
			for (var i = 0; i < trs.length; i++) {
				var tds = trs[i].getElementsByTagName("td");
				trs[i].style.display = "none";
				for (var i2 = 0; i2 < tds.length; i2++) {
					if (tds[i2].innerHTML.toUpperCase().indexOf(filter) > -1) {
						trs[i].style.display = "";
						continue;
					}
				}
			}

		}
	</script>
</head>
<body>
	<img src = "/header.png" alt = "logo">
	<div class="blue"><TT>Logged In As:Admin</TT><TT class="right"><a href="login.html"><u>LOG OUT</u></a></TT></div>
	<form>
		<input type="text" id="myInput" onkeyup="myFunction()" name="search" placeholder="Search..">
	</form>

	<form action="/admin/admin3">
		<table id="Table" class="cal">
			<tbody>
				<tr><th>SNO.</th>
					<th>Name</th>
					<th>Usn</th>
					<th>Registration</th>
					<th>Status</th></tr>
					<tr>
						<td>1</td>
						<td>adam</td>
						<td>1BM19CS001</td>
						<td>Registered</td>
						<td>Applied</td>
					</tr>
					<tr>
						<td>2</td>
						<td>john</td>
						<td>1BM19CS002</td>
						<td>Registered</td>
						<td>Applied</td>
					</tr>
					<tr>
						<td>3</td>
						<td>jack</td>
						<td>1BM19CS003</td>
						<td>Registered</td>
						<td>Applied</td>
					</tr>
					<tr>
						<td>4</td>
						<td>gjj</td>
						<td>1BM19CS004</td>
						<td>Registered</td>
						<td>Applied</td>
					</tr>
					<tr>
						<td>5</td>
						<td>rty</td>
						<td>1BM19CS005</td>
						<td>Registered</td>
						<td>Applied</td>
					</tr>
					<tr>
						<td>6</td>
						<td>ghj</td>
						<td>1BM19CS006</td>
						<td>Registered</td>
						<td>Applied</td>
					</tr>
					<tr>
						<td>7</td>
						<td>ghjf</td>
						<td>1BM19CS007</td>
						<td>Registered</td>
						<td>Not Applied</td>
					</tr>
					<tr>
						<td>8</td>
						<td>hfkk</td>
						<td>1BM19CS008</td>
						<td>Registered</td>
						<td>Applied</td>
					</tr>
					<tr>
						<td>9</td>
						<td>qaz</td>
						<td>1BM19CS009</td>
						<td>Registered</td>
						<td>Applied</td>
					</tr>
					<tr>
						<td>10</td>
						<td>rts</td>
						<td>1BM19CS010</td>
						<td>Re-Registered</td>
						<td>Not Applied</td>
					</tr>
				</tbody>
			</table><br><br>
			<button>Summary</button>
		</form>

		<footer id="footer">
			<p class="about">B.M.S. College of Engineering (BMSCE) was Founded in the year 1946 by Late Sri. B. M. Sreenivasaiah a great visionary and philanthropist and nurtured by his illustrious son Late Sri. B. S. Narayan. BMSCE is the first private sector initiative in engineering education in India. BMSCE has completed 70+ years of dedicated service in the field of Engineering Education. <a href="https://bmsce.ac.in/home/About-BMSCE">Know More</a></p>
			<h3>Contact Us</h3>
			<ul class="contact-us">
				<li><strong>Address:</strong>
					<br /> P.O. Box No.: 1908, Bull Temple Road,
					<br /> Bangalore - 560 019
					<br />Karnataka, India.
				</li>
				<li><strong>Fax:</strong>
					<br />+91-80-26614357
				</li>
				<li><strong>Email:</strong>
					<br /><a href="mailto:mail@example.com">info@bmsce.ac.in</a>
				</li>
			</ul>
			<div id="icons">
				<a href="https://www.instagram.com/"><i class="fab fa-instagram"> </i></a>
				<a href="https://www.facebook.com/bmsce.official"><i class="fab fa-facebook"></i></a>
				<a href="https://twitter.com/?lang=en"><i class="fab fa-twitter"></i></a>
				<a href="https://www.linkedin.com/authwall?trk=gf&trkInfo=AQENGHT1TgwK7QAAAXZq5KygBlHnGUtHSItHhXmvxk5TeadeZBSQHIHtyhl5QHsmVbUgh13F-Qd4FNtCMIyF5lmkZBN0WZQSjZ95rBzmFWoYbRpyvx9cbyeqQzfCO5Qm9Z8Fqk8=&originalReferer=https://bmsce.ac.in/&sessionRedirect=https%3A%2F%2Fwww.linkedin.com%2Fcompany%2Fbmsce-official%2F"><i class="fab fa-linkedin"></i></a>
			</div>
			<div class="Copyright"><p>© Copyright 2019. All Rights Reserved.</p></div>

		</footer>
	</body>
	</html>