body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
}

input[type=text], input[type=password], input[type=email]{
  width: 35%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

img{
    width: 760px;
    height: 100px;
}

.blue{
    background-color:#0088CC;
    padding: 10px;
    color:black;
    text-align: center;
    margin-bottom: 80px;
    font-size:20px; 
    margin-left: 5px;
    padding-left: 35px;
}

table{
  margin-left: 30%;
  font-weight: 27px;
  font-size: 20px;
  line-height: 27px;
  font-family: "times new roman", arial, seriff;
  display: inline-block;
}

tr{
  background: #e6ffff;
  opacity: 0.8;
  padding-left: 2px;
}

tr:hover{
  opacity: 1;
}

td{
  text-align: center;
  padding: 9px;
}

th{
  border-bottom: 5px solid green;
  background-color: #0088CC;
  border-radius: 5px 5px 0px 0px;
  color: #e3e3e3;
  padding: 9px 35px ;
}

input[type=text] {
  width: 150px;
  margin-left: 30%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('search.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
  width: 680px;
}

.right{
  float: right;
  margin-right: 20px;
}

a{
  color: white;
}

.searchbar{
  background-image: url("search.png");
}

button{
  padding: 14px 20px;
  border: none;
  cursor: pointer;
  float: right;
  margin-right: 880px;
  width: 10%;
  font-size: 22px;
}

button:hover {
  opacity: 0.8;
}

#footer{
    background-color: #2d2e2e; 
    color: #7f8082; 
    padding: 10px;
    line-height: 30px;
    display: inline-block;
    margin-top: 60px;
}

.about{
  display: inline-block;
  float: left;
  width: 80%;
  padding-left: 25px;
  font-size: 25px;
  line-height: 40px;
}

.copyright{
  display: block;
}

.contact-us{
  display: inline-block;
}

h3{
  float: right;
  margin-right: 220px;
}

#icons{
  float: right;
  margin-right: 130px;
}

i{
  margin: 10px;
  font-size: 30px;
}

a{
  color: #f7f9fa;
}

strong{
  color: #f7f9fa;
}